# Dependencies
node_modules/
package-lock.json

# Local configurations
.env
.env.local

# Logs
logs/
*.log

# OS Metadata
.DS_Store
Thumbs.db

# Build output
public/pattern/
public/tree-visualizer/

# Temporary files
temp_chrome_profile/

